@model TravelTime.Models.Day

@{
    ViewBag.Title = "Day";
}

<h2>Day @Html.DisplayFor(model => model.Date)</h2>

<p>
    @Html.ActionLink("Add Step", "CreateStep", new {date = Model.Date, tripId = Model.TripId }) | 
    @Html.ActionLink("Back", "DaysIndex", new {tripId = Model.TripId })
</p>
<table class="table">

    @foreach (var item in Model.Steps)
    {
        <tr>
            <td>
                <img src="@item.Attraction1.Picture" style="width:100px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time) - 
                @Html.DisplayFor(modelItem => item.Name) <br />
                @Html.DisplayFor(modelItem => item.Attraction1.Address) <br />
                @Html.DisplayFor(modelItem => item.Attraction1.Description) <br />
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }


