@model TravelTime.Models.Day

@{
    ViewBag.Title = "Day";
}

<h2>Day @Html.DisplayFor(model => model.Date)</h2>

<p>
    @Html.ActionLink("Add Step", "CreateStep", new {date = Model.Date, tripId = Model.TripId }) | 
    @Html.ActionLink("Back", "DaysIndex", new {tripId = Model.TripId })
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Time
        </th>
        <th>
            Photo
        </th>
        <th>
            Adress
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Steps)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                <img src="@item.Attraction1.Picture"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attraction1.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>

    }

    
    </table>
<div ng-app="map">
        <div ng-controller="mapController">

            {{position}}
            <br />
            {{activity}}

            <br />
            {{closest}}
            

            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-markers models="user" coords="'self'" click="'onClick'">
                    <ui-gmap-windows show="show">
                        <div ng-non-bindable>you</div>
                    </ui-gmap-windows>
                </ui-gmap-markers>
                <ui-gmap-markers models="markers" coords="'self'" click="'onClick'">
                    <ui-gmap-windows show="show">
                        <div ng-non-bindable>{{title}}</div>
                    </ui-gmap-windows>
                </ui-gmap-markers>
                <ui-gmap-polylines models="trip" path="'path'" stroke="'stroke'" visible="'visible'"
                                   geodesic="'geodesic'" static="true">
                </ui-gmap-polylines>
                <ui-gmap-polylines models="walk" path="'path'" stroke="'stroke'" visible="'visible'"
                                   geodesic="'geodesic'" static="true">
                </ui-gmap-polylines>
            </ui-gmap-google-map>


            <h2 ng-click="saveWalkPath()" class="btn btn-primary">Save path</h2>
        </div>

    </div>

@section Scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/cordova")
    @Scripts.Render("~/bundles/location")

}

