@model TravelTime.Models.TripIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Trip", "Create", new {userId = Model.User.Id })
</p>
<table class="table">

@foreach (var item in Model.Trips)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)<br/>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beginning)<br />
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })<br />
            @Html.ActionLink("Plan", "Plan", new { tripId = item.Id })|
            @Html.ActionLink("Run", "Run", new { tripId = item.Id })
        </td>
    </tr>
}

</table>
