@model TravelTime.Models.Step

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name);
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Time)</h4>
    <p>
        @Html.ActionLink("Back", "Day", new { Date = Model.Time, tripId = Model.TripId })
    </p>
    <hr />
    <dl class="dl-horizontal" style="margin:auto;text-align:center">
        <img src="@Model.Attraction1.Picture" width="120 px" />
        <br />
        @Html.DisplayFor(model => model.Attraction1.Address)
        @Html.DisplayFor(model => model.Attraction1.City)
        <br />
        @Html.DisplayFor(model => model.Attraction1.Categorie)
        <br />
        @Html.DisplayFor(model => model.Attraction1.Description)
        <br />
        @if (Model.Attraction1.Contact != null)
        {
            <div>
                @Html.DisplayNameFor(model => model.Attraction1.Contact) :
                @Html.DisplayFor(model => model.Attraction1.Contact)
            </div>
            
        }
        @if (Model.Attraction1.Opening != null)
        {
         <div>
            @Html.DisplayNameFor(model => model.Attraction1.Opening) :
            @Html.DisplayFor(model => model.Attraction1.Opening)
        </div>
        }





        </dl>
        </div>
