@model TravelTime.Models.StepIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Back", "TripIndex", new { tripId = Model.tripId })
</p>
<table class="table">
@using (Html.BeginForm())
{
    <tr>
        <td>
            <img src="" width="80 px" id="pic"/>
        </td>
        <td>
            @Html.DropDownListFor(model => model.selectedAttraction, (SelectList)ViewBag.selectedAttraction)<br />
        <span id="des"><br />
        </span><br />
            <button type="submit" class="btn btn-default">Add</button>
        </td>
    </tr>
}
@foreach (var item in Model.Steps) {
    <tr>
        <td>
            <img src="@item.Attraction1.Picture" width="80 px" />
        </td>
        <td >
            @Html.DisplayFor(modelItem => item.Name) - 
            @Html.DisplayFor(modelItem => item.Attraction1.Categorie)<br />
            @Html.DisplayFor(modelItem => item.Attraction1.Description)<br />
            @Html.ActionLink("Details", "Details", new {id=item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id=item.Id})
        </td>
    </tr>
}

</table>




@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/bundles/jqueryval")    
    <script type="text/javascript">
        

        $(function () {
                var name = $("#selectedAttraction :selected")[0].value;  //if user select the tournament
                var url = 'Steps/getAttraction';
                var data1 = { "web_id": name };
                $.post(url, data1, function (data) {    //ajax call
                    var des = data.Description;
                    var pic = data.Picture;
                    var cat = data.Categorie;
                    $('#des')[0].innerHTML = des;
                    $('#pic')[0].src = pic;})

              $("#selectedAttraction").change(function () {
                  var name = $("#selectedAttraction :selected")[0].value;  //if user select the tournament
                    var url = 'Steps/getAttraction';
                    var data1 = { "web_id": name };
                    $.post(url, data1, function (data) {    //ajax call
                        var des = data.Description;
                        var pic = data.Picture;
                        var cat = data.Categorie;
                        $('#des')[0].innerHTML = des;
                        $('#pic')[0].src = pic;
                    })
           });
        });
    </script>
}